body {
  font-family: "Nanum+Gothic", "Mukta";
}
h2 {
  font-weight: 800;
  color: black;
}
p {
  font-size: 25px;
  color: black;
}
.carousel-item {
  text-align: center;
}

.icon {
  width: 4rem;
}
.carousel .next-icon {
  visibility: hidden;
  width: 15vw;
  height: 15vh;
}
.carousel:hover .next-icon {
  visibility: visible;
}
.carousel .carousel-item img {
  object-fit: cover;
  object-position: center;
  max-height: 100vh;
  overflow: hidden;
}
.carousel-caption {
  margin-bottom: 14rem;
  border-radius: 20px;
  background-color: hsl(271, 56%, 53%, 0.3);
}
