body {
  font-family: "Nanum+Gothic", "Mukta";
}

.carousel-item {
  text-align: center;
}
.carousel-item > img{ 
   /* Only for images that have different size than slide */ 
   width: 100%; 
   height: 100%; 
   object-fit: cover; 
 }
.icon {
  width: 4rem;
}
.next-icon {
  font-weight: 700;
}
