body {
  font-family: "Nanum+Gothic", "Mukta";
}
h2 {
  font-weight: 800;
  color: black;
}
p {
  font-size: 25px;
  color: black;
  background-color: blueviolet;
  border-radius: 20px;
}
.carousel-item {
  text-align: center;
}

.icon {
  width: 4rem;
}
.next-icon {
  font-weight: 700;
}
.carousel .carousel-item img {
  object-fit: cover;
  object-position: center;
  max-height: 100vh;
  overflow: hidden;
}
